<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" class="h-100">
<head>
    <title>ReviewTel App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--used for setting up bootstrap environment-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--    importing our custom main.css file-->
    <link rel="stylesheet"
          th:href="@{main.css}"/>
</head>
<body class="d-flex flex-column h-100" >
<div th:replace="~{fragments/navigation :: navigation}"></div>
<main role="main" class="flex-shrink-0">
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4" align="center">Add new review</h1>
        </div>
    </div>
</main>
<div align="center">

    <form th:object="${review}" id="x" method="post" th:action="@{/addReviewSubmitted}">
        <label>Nationality:</label>
        <select th:field="*{national_id}" th:object="${review}">
            <option th:each="p : ${countryList}" type="number" th:value="${p.id}" th:text="${p.name}" />
        </select>
        <br/>
        <br/>

        <label>Guests Composition:</label>
        <select th:field="*{guests_composition_id}" th:object="${review}">
            <option th:each="p : ${guests_compositionList}" type="number" th:value="${p.id}" th:text="${p.guests_composition}" />
        </select>
        <br/>
        <br/>
        <label>Room type:</label>
        <select th:field="*{room_type_id}" th:object="${review}">
            <option th:each="p : ${room_typeList}" type="number" th:value="${p.id}" th:text="${p.room_type}" />
        </select>
        <br/>
        <br/>
        <label>Trip type:</label>
        <select th:field="*{trip_type_id}" th:object="${review}">
            <option th:each="p : ${trip_typeList}" type="number" th:value="${p.id}" th:text="${p.trip_type}" />
        </select>
        <br/>
        <br/>
        <label>Vacation Length:</label>
        <input type="number" step="1" max="31" min="1" th:field="*{vacation_length}" th:object="${review}"/>
        <br/>
        <br/>
        <label>Score:</label>
        <input type="number" step="0.1" max="10" min="1" th:field="*{score}" th:object="${review}"/>
        <br/>
        <br/>
        <label>Positive Review:</label>
        <br/>
        <textarea rows="10" cols="50" th:field="*{positive_review}" th:object="${review}"></textarea>
        <br/>
        <br/>
        <label>Negative Review:</label>
        <br/>
        <textarea rows="10" cols="50" th:field="*{negative_review}" th:object="${review}"></textarea>
        <br/>
        <input type="submit" id="subBtn" value="Submit" />
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.js"
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
        crossorigin="anonymous">
</script>

<!--used for setting up bootstrap environment-->
<script>
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.js"
</script>
</body>

</html>