<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" th:href="@{/}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
            <li th:class="${activePage == 'chooseCountryForAvg'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/chooseCountryForAvg}">Find Hotel Reviews <span class="sr-only">(current)</span></a>
            </li>
            <li th:class="${activePage == 'chooseCountryForTopFive'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/chooseCountryForTopFive}">Top 5</a>
            </li>
            <li th:class="${activePage == 'chooseCountryForNationality'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/chooseCountryForNationality}">Hotel Rated by Nationality</a>
            </li>
            <li th:class="${activePage == 'addReview'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/addReview}">Add a Review</a>
            </li>
            <li th:class="${activePage == 'editReview'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/editReview}">Edit a Review</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>